*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background:  linear-gradient(135deg, #d4f4dd, #b8e6c1);
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  line-height: 1.2;
  color: #186929;
  display: flex;

}

.section-center {
  margin: 0 auto;
  margin-top: 10rem;
  max-width: 24rem;
  background: #fff;
  border-radius: 0.5rem;
  padding: 2rem;
  position: relative;
}
