*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eee;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.2;
  color: #090909;
}

.section-center {
  margin: 0 auto;
  margin-top: 10rem;
  max-width: 24rem;
  background: #fff;
  border-radius: 0.5rem;
  padding: 2rem;
  position: relative;
}
