.single-item {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  column-gap: 1rem;
  align-items: center;
}

.single-item p {
  text-transform: capitalize;
}

.single-item input[type="checkbox"] {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
}

.single-item .btn {
  cursor: pointer;
  color: #fff;
  background: #06b6d4;
  border: transparent;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
}
.single-item .btn:hover {
   background:  linear-gradient(135deg, #013911, #b8e6c1);
}

.single-item .remove-btn {
    background:  linear-gradient(135deg, #0a565d, #b8e6c1);
}

.single-item .edit-btn {
  background:  linear-gradient(135deg, #02221f, #b8e6c1);
}
